.App-border-header {
  height: 7vh;
  background-color: #152238;
  width: 100%;
}

.acme-logo {
  top: 0.5vh;
  position: relative;
  left: 100px;
}

.home-btn {
  color: white;
  position: fixed;
  top: 2.5vh;
  left: 75vw;
  cursor: pointer;
}

.about-btn {
  color: white;
  position: fixed;
  top: 2.5vh;
  left: 80vw;
  cursor: pointer;
}

.modal-content-item {
  display: flex;
}

.modal-content-item:hover {
  background-color: lightgray;
}

.modal-content-text {
  margin-left: 10px;
}

.modal-content-item > .anticon {
  position: relative;
  top: 5px;
  left: 5px;
}

.ant-modal-header {
  display: none;
}

.ant-modal-footer {
  background-color: lightgray !important;
}
